
 @font-face { font-style : bold; src: url("assets/fonts/PoppinsBold.ttf"); font-family : "Poppins"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/MuliRegular.ttf"); font-family : "Mulish"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/MuliSemiBold.ttf"); font-family : "Mulish"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/MuliBold.ttf"); font-family : "Mulish"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/LatoBold.ttf"); font-family : "Lato"; font-weight : 700;  }